<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
        <style>
            #map {
                width: 100%;
                height: 400px;
            }

            .gm-ui-hover-effect > span {
                filter: invert(1) brightness(2);
            }
        </style>
    </head>

    <body data-bs-theme="dark" class="d-flex flex-column justify-content-center align-items-center bg-dark text-light vh-100 m-0">
        <main class="container d-flex flex-column justify-content-center align-items-center h-100 p-4">
            <h1 class="fw-bold mb-2">{{ title }}</h1>
            <h2 class="mb-4">Seja bem-vindo!</h2>

            <p>{{ version }}</p>

            <div id="tooltip-host" data-bs-toggle="tooltip" data-bs-html="true" title=""></div>

            <div class="container shadow rounded w-100" id="map"></div>

            <form action="/logout" method="POST">
                <button class="btn btn-outline-danger mt-4" action="submit">Sair</button>
            </form>
        </main>

        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&callback=initMap"
            async defer>
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>